altgraph==0.17.3
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
pefile==2023.2.7
prompt-toolkit==3.0.38
Pygments==2.15.1
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pywin32-ctypes==0.2.1
requests==2.31.0
rich==13.4.2
tqdm==4.65.0
urllib3==2.0.3
wcwidth==0.2.6
